        {{#each cpus}}
        <div class="product_block">
            <div class="img_product"><img src="{{this.Image}}" alt=""></div>
            <div class="info_product">
                <div>
                    <div class="name">{{this.Name}}</div>
                    <div class="specifications">
                        <div>Частота: {{this.Frequency}}</div>
                        <div>Ядра: {{this.Cores}}</div>
                        <div>КЭШ: {{this.Cache}}</div>
                    </div>
                </div>
                <div class="price">Цена: {{this.Price}}</div>
                <button class="in_basket" type="button">В корзину</button>
            </div>
        </div>
        {{/each}}