{{#if isAdmin}}
{{#each rams}}
<div class="product_block">
    <div class="img_product"><img src="/images/{{this.Image}}" alt=""></div>
    <div class="info_product">
        <div>
            <div class="name">{{this.Name}}</div>
            <div class="specifications">
                <div>Тип: {{this.Type}}</div>
                <div>Частота: {{this.Frequency}} ГГц</div>
                <div>Память: {{this.Memory}} ГБ</div>
                <div>Тип порта: {{this.TypePort}}</div>
            </div>
        </div>
        <div class="price">Цена: {{this.Price}}</div>
        <button class="del_product" type="button" data-product="{{this.ID}}" data-type="ram">Удалить</button>
    </div>
</div>
{{/each}}
{{/if}}


{{#if isUser}}
{{#each rams}}
<div class="product_block">
    <div class="img_product"><img src="/images/{{this.Image}}" alt=""></div>
    <div class="info_product">
        <div>
            <div class="name">{{this.Name}}</div>
            <div class="specifications">
                <div>Тип: {{this.Type}}</div>
                <div>Частота: {{this.Frequency}} ГГц</div>
                <div>Память: {{this.Memory}} ГБ</div>
                <div>Тип порта: {{this.TypePort}}</div>
            </div>
        </div>
        <div class="price">Цена: {{this.Price}}</div>
        <button class="in_basket" type="button" data-product="{{this.ID}}" data-type="ram">В корзину</button>
    </div>
</div>
{{/each}}

{{/if}}

<div class="pageBtns">
    <a class="prev">Предыдущая страница</a>
    <a class="next">Следующая страница</a>
</div>

<script>
    const param = parseInt(new URLSearchParams(window.location.search).get('page'));

    const next = document.querySelector(".next");
    const prev = document.querySelector(".prev");

    next.addEventListener("click", () => {
        let xhr = new XMLHttpRequest();
        const nextPage = param + 1;
        window.location.href = `/rams?page=${nextPage}`;
    })

    prev.addEventListener("click", () => {
        let prevPage = param - 1;
        if (prevPage < 1) {
            prevPage = 1;
        }
        window.location.href = `/rams?page=${prevPage}`;
    })
</script>